.contentContainer
  width: 100%
  float: left
  height: 100%
  background: url("../images/content-bg.png") repeat-x
  .content
    width: 960px
    height: 100%
    background: url("../images/bg_shadow.png") top center no-repeat
    margin-right: auto
    margin-left: auto
    padding-top: 50px
    .leftContent
      float: left
      width: 620px
      padding: 0px 10px
      h1
        float: left
        width: 620px
        font-size: 20px
        color: #0f8641
        margin: 0
        padding: 0
        text-transform: uppercase
      .detailHolder
        float: left
        width: 620px
        color: #666666
        font-size: 12px
        margin-bottom: 20px
        .imagesOther *
          -moz-box-sizing: border-box
          box-sizing: border-box
        .imagesOther
          float: left
          width: 620px
          margin-bottom: 15px
          .imageHolder
            background: #ffffff
            -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75)
            -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75)
            box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75)
            img
              background: #ffffff
              -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75)
              -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75)
              box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75)
              margin-right: 10px
              margin-bottom: 10px

          .rightConner
            margin-right: 0px !important
          .smallImage
            width: 138px !important
            p
              width: 108px !important
            img
              width: 118px !important
        .images
          float: left
          width: 620px
          margin-top: 20px
          margin-bottom: 15px
          .imageHolder
            float: left
            width: 205px

            p
              padding: 5px 10px
              background: #e6e6e6
              font-size: 12px
              width: 180px
              margin-top: 5px
              float: left
            img
              display: block
              float: left
              padding: 5px
              background: #ffffff
              -webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75)
              -moz-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75)
              box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75)
              margin-right: 10px
              margin-bottom: 10px
          .rightConner
            margin-right: 0px !important
          .smallImage
            width: 138px !important
            p
              width: 108px !important
            img
              width: 118px !important

        .textContent
          float: left
          width: 550px
          color: #666666
          font-size: 12px

          p
            width: 550px
            float: left
            font-size: 12px
        .listHolderLeft
          float: left
          width: 300px
          margin-right: 10px

          h2
            font-size: 12px
        .listHolderRight
          float: right
          width: 300px
          h2
            font-size: 12px

    .rightContent
      float: right
      width: 250px
      padding: 0px 10px 0px 50px
      position: relative
      h1
        float: left
        width: 260px
        font-size: 20px
        color: #0f8641
        margin: 0
        padding: 0
        text-transform: uppercase
      h3
        width: 260px
        font-weight: bold
        color: #087fc6
        margin-top: 18px
        float: left
        font-size: 12px
      p
        font-size: 12px
        float: left
        width: 260px
        color: #666666
        margin-top: 0px
        margin-bottom: 10px
      input
        float: left
        display: block
        width: 234px
        height: 15px
        padding: 6px 12px
        font-size: 12px
        line-height: 1.42857143
        color: #555
        background-color: #fff
        background-image: none
        border: 1px solid #ccc
        border-radius: 4px
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        margin-top: 10px
      textarea
        float: left
        display: block
        width: 234px
        padding: 6px 12px
        font-size: 12px
        line-height: 1.42857143
        color: #555
        background-color: #fff
        background-image: none
        border: 1px solid #ccc
        border-radius: 4px
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
        margin-top: 10px
        font-family: Arial, verdana, arial, sans-serif
      .button
        display: block
        font-family: Arial, verdana, arial, sans-serif
        float: left
        margin-bottom: 0
        font-weight: 400
        text-align: center
        vertical-align: middle
        cursor: pointer
        background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #1E8ED9),color-stop(1, #027BC1))
        background-image: -o-linear-gradient(bottom, #1E8ED9 0%, #027BC1 100%)
        background-image: -moz-linear-gradient(bottom, #1E8ED9 0%, #027BC1 100%)
        background-image: -webkit-linear-gradient(bottom, #1E8ED9 0%, #027BC1 100%)
        background-image: -ms-linear-gradient(bottom, #1E8ED9 0%, #027BC1 100%)
        background-image: linear-gradient(to bottom, #1E8ED9 0%, #027BC1 100%)
        border: 1px solid transparent
        white-space: nowrap
        padding: 5px 20px
        font-size: 14px
        line-height: 1.42857143
        border-radius: 4px
        -webkit-user-select: none
        -moz-user-select: none
        -ms-user-select: none
        user-select: none
        margin-top: 10px
        color: #ffffff
        font-size: 13px
      .help-block
        float: left
        width: 260px
        font-family: Arial, verdana, arial, sans-serif
        font-size: 12px
        color: #ff1500
      label
        width: 260px !important
        float: left
        font-size: 12px
        color: #666666
        margin-top: 10px
        p
          width: auto !important
          padding: 0px
          margin: 0
          display: block
          float: none !important
          color: #ed1341
    .logosHolder
      float: left
      width: 960px
      margin-top: 20px
      .logo
        float: left
        width: 172px
        margin-right: 0px
        padding: 0px 10px
        height: 100px
      .logoRight
        margin-right: 0px !important

.footerContainer
  width: 100%
  float: left
  border-top: 2px solid #c0c0c0
  margin-top: 10px
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #2BC069),color-stop(1, #39A466))
  background-image: -o-linear-gradient(bottom, #2BC069 0%, #39A466 100%)
  background-image: -moz-linear-gradient(bottom, #2BC069 0%, #39A466 100%)
  background-image: -webkit-linear-gradient(bottom, #2BC069 0%, #39A466 100%)
  background-image: -ms-linear-gradient(bottom, #2BC069 0%, #39A466 100%)
  background-image: linear-gradient(to bottom, #2BC069 0%, #39A466 100%)
  .container
    width: 960px
    margin: 0px auto
    height: 55px
    padding-top: 25px
    text-align: center
    ul
      display: block
      padding: 0
      margin: 0
      text-align: center
      color: #ffffff
      li
        font-size: 10px
        font-weight: bold
        color: #ffffff
        display: inline-block
        a
          color: #ffffff
          text-decoration: none
    p
      font-size: 10px
      font-weight: bold
      color: #ffffff
      padding: 0px
      margin: 0px

