.menuContainer
  width: 100%
  height: auto
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #454545),color-stop(1, #141414))
  background-image: -o-linear-gradient(bottom, #454545 0%, #141414 100%)
  background-image: -moz-linear-gradient(bottom, #454545 0%, #141414 100%)
  background-image: -webkit-linear-gradient(bottom, #454545 0%, #141414 100%)
  background-image: -ms-linear-gradient(bottom, #454545 0%, #141414 100%)
  background-image: linear-gradient(to bottom, #454545 0%, #141414 100%)
  .menu
    width: 960px
    margin: 0px auto
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #454545),color-stop(1, #141414))
    background-image: -o-linear-gradient(bottom, #454545 0%, #141414 100%)
    background-image: -moz-linear-gradient(bottom, #454545 0%, #141414 100%)
    background-image: -webkit-linear-gradient(bottom, #454545 0%, #141414 100%)
    background-image: -ms-linear-gradient(bottom, #454545 0%, #141414 100%)
    background-image: linear-gradient(to bottom, #454545 0%, #141414 100%)
    height: 50px
    ul
      padding: 0
      margin: 0
      list-style: none
      text-align: center
      li
        display: inline-block
        list-style: none
        a
          text-transform: uppercase
          font-size: 14px
          color: #ffffff
          display: block
          padding: 0px 10px
          height: 50px
          line-height: 50px
          text-decoration: none



