.sliderContainer
  float: left
  width: 100%
  background: #cacbcb
#featured:after
  content: ''
  position: absolute
  height: 13px
  bottom: 0
  left: 0
  width: 100%
#featured
  position: relative
  background: url("../images/sliderBg.jpg") no-repeat #cacbcb
  width: 1020px
  margin-right: auto
  margin-left: auto
  height: 356px
  .container
    text-align: center
    line-height: 0
  h2, p
    color: #ffffff
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2)
  h2

    position: absolute
    font-size: 46px
    font-weight: 800
    margin-bottom: 14px
    letter-spacing: -4px
  h2 span, .description
    font-weight: 300
    position: absolute


.flexslider
  width: 100%
  margin: 0
  padding: 0

.slides, .flex-control-nav, .flex-direction-nav
  margin: 0
  padding: 0
  list-style: none
.flexslider .slides > li
  display: none
.description
  position: absolute
  width: 310px !important
  right: 90px
  z-index: 9999999999999999999999999999
.interHolder
  float: left
  width: 300px
  margin-top: 70px

  .textHolder
    float: left !important
    width: 300px !important
    text-align: left !important
    h1
      float: left
      width: 300px
      font-weight: normal
      font-size: 20px
      color: #0f8641
      margin: 0
      margin-bottom: 20px
      padding: 0
      text-transform: uppercase
    .normal
      float: left !important
      font-size: 12px !important
      margin: 0 !important
      padding: 0 !important
      font-family: Arial, verdana, arial, sans-serif !important
      color: #666666 !important
      text-align: left !important
      text-shadow: none !important
    a
      float: left
      margin-top: 20px
