.topHeaderContainer
  width: 100%
  height: 145px
  background-image: -webkit-gradient(linear,left top,right top,color-stop(0, #F9F9F9),color-stop(0.56, #D8D8D8))
  background-image: -o-linear-gradient(right, #F9F9F9 0%, #D8D8D8 56%)
  background-image: -moz-linear-gradient(right, #F9F9F9 0%, #D8D8D8 56%)
  background-image: -webkit-linear-gradient(right, #F9F9F9 0%, #D8D8D8 56%)
  background-image: -ms-linear-gradient(right, #F9F9F9 0%, #D8D8D8 56%)
  background-image: linear-gradient(to right, #F9F9F9 0%, #D8D8D8 56%)
  .topHeader
    width: 960px
    height: auto
    margin: 0px auto
    .logo
      float: left
      height: 145px
    .social
      float: right
      width: 260px
      height: 145px
      position: relative
      background: url("../images/callus.png") top no-repeat
      .socialContent
        padding: 26px 12px
        width: 236px
        .image
          float: left
          width: 42px
          height: 42px
          margin-right: 8px
        .phone
          float: left
          width: 186px
          font-weight: bold
          font-size: 26px
          color: #119147
        .email
          float: left
          width: 186px
          font-size: 11px
          color: #464646




