/* line 1, C:/wamp/www/unesis/sass/content.sass */
.contentContainer {
  width: 100%;
  float: left;
  height: 100%;
  background: url("../images/content-bg.png") repeat-x;
}
/* line 6, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content {
  width: 960px;
  height: 100%;
  background: url("../images/bg_shadow.png") top center no-repeat;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
}
/* line 13, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent {
  float: left;
  width: 620px;
  padding: 0px 10px;
}
/* line 17, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent h1 {
  float: left;
  width: 620px;
  font-size: 20px;
  color: #0f8641;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
/* line 25, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder {
  float: left;
  width: 620px;
  color: #666666;
  font-size: 12px;
  margin-bottom: 20px;
}
/* line 31, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .imagesOther * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 34, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .imagesOther {
  float: left;
  width: 620px;
  margin-bottom: 15px;
}
/* line 38, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .imagesOther .imageHolder {
  background: white;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
}
/* line 43, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .imagesOther .imageHolder img {
  background: white;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 51, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .imagesOther .rightConner {
  margin-right: 0px !important;
}
/* line 53, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .imagesOther .smallImage {
  width: 138px !important;
}
/* line 55, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .imagesOther .smallImage p {
  width: 108px !important;
}
/* line 57, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .imagesOther .smallImage img {
  width: 118px !important;
}
/* line 59, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .images {
  float: left;
  width: 620px;
  margin-top: 20px;
  margin-bottom: 15px;
}
/* line 64, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .images .imageHolder {
  float: left;
  width: 205px;
}
/* line 68, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .images .imageHolder p {
  padding: 5px 10px;
  background: #e6e6e6;
  font-size: 12px;
  width: 180px;
  margin-top: 5px;
  float: left;
}
/* line 75, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .images .imageHolder img {
  display: block;
  float: left;
  padding: 5px;
  background: white;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
  margin-right: 10px;
  margin-bottom: 10px;
}
/* line 85, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .images .rightConner {
  margin-right: 0px !important;
}
/* line 87, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .images .smallImage {
  width: 138px !important;
}
/* line 89, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .images .smallImage p {
  width: 108px !important;
}
/* line 91, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .images .smallImage img {
  width: 118px !important;
}
/* line 94, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .textContent {
  float: left;
  width: 550px;
  color: #666666;
  font-size: 12px;
}
/* line 100, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .textContent p {
  width: 550px;
  float: left;
  font-size: 12px;
}
/* line 104, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .listHolderLeft {
  float: left;
  width: 300px;
  margin-right: 10px;
}
/* line 109, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .listHolderLeft h2 {
  font-size: 12px;
}
/* line 111, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .listHolderRight {
  float: right;
  width: 300px;
}
/* line 114, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .leftContent .detailHolder .listHolderRight h2 {
  font-size: 12px;
}
/* line 117, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .rightContent {
  float: right;
  width: 250px;
  padding: 0px 10px 0px 50px;
  position: relative;
}
/* line 122, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .rightContent h1 {
  float: left;
  width: 260px;
  font-size: 20px;
  color: #0f8641;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
/* line 130, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .rightContent h3 {
  width: 260px;
  font-weight: bold;
  color: #087fc6;
  margin-top: 18px;
  float: left;
  font-size: 12px;
}
/* line 137, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .rightContent p {
  font-size: 12px;
  float: left;
  width: 260px;
  color: #666666;
  margin-top: 0px;
  margin-bottom: 10px;
}
/* line 144, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .rightContent input {
  float: left;
  display: block;
  width: 234px;
  height: 15px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-top: 10px;
}
/* line 162, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .rightContent textarea {
  float: left;
  display: block;
  width: 234px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  margin-top: 10px;
  font-family: Arial, verdana, arial, sans-serif;
}
/* line 180, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .rightContent .button {
  display: block;
  font-family: Arial, verdana, arial, sans-serif;
  float: left;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1e8ed9), color-stop(1, #027bc1));
  background-image: -o-linear-gradient(bottom, #1e8ed9 0%, #027bc1 100%);
  background-image: -moz-linear-gradient(bottom, #1e8ed9 0%, #027bc1 100%);
  background-image: -webkit-linear-gradient(bottom, #1e8ed9 0%, #027bc1 100%);
  background-image: -ms-linear-gradient(bottom, #1e8ed9 0%, #027bc1 100%);
  background-image: linear-gradient(to bottom, #1e8ed9 0%, #027bc1 100%);
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 5px 20px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 10px;
  color: white;
  font-size: 13px;
}
/* line 208, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .rightContent .help-block {
  float: left;
  width: 260px;
  font-family: Arial, verdana, arial, sans-serif;
  font-size: 12px;
  color: #ff1500;
}
/* line 214, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .rightContent label {
  width: 260px !important;
  float: left;
  font-size: 12px;
  color: #666666;
  margin-top: 10px;
}
/* line 220, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .rightContent label p {
  width: auto !important;
  padding: 0px;
  margin: 0;
  display: block;
  float: none !important;
  color: #ed1341;
}
/* line 227, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .logosHolder {
  float: left;
  width: 960px;
  margin-top: 20px;
}
/* line 231, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .logosHolder .logo {
  float: left;
  width: 172px;
  margin-right: 0px;
  padding: 0px 10px;
  height: 100px;
}
/* line 237, C:/wamp/www/unesis/sass/content.sass */
.contentContainer .content .logosHolder .logoRight {
  margin-right: 0px !important;
}

/* line 240, C:/wamp/www/unesis/sass/content.sass */
.footerContainer {
  width: 100%;
  float: left;
  border-top: 2px solid silver;
  margin-top: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2bc069), color-stop(1, #39a466));
  background-image: -o-linear-gradient(bottom, #2bc069 0%, #39a466 100%);
  background-image: -moz-linear-gradient(bottom, #2bc069 0%, #39a466 100%);
  background-image: -webkit-linear-gradient(bottom, #2bc069 0%, #39a466 100%);
  background-image: -ms-linear-gradient(bottom, #2bc069 0%, #39a466 100%);
  background-image: linear-gradient(to bottom, #2bc069 0%, #39a466 100%);
}
/* line 251, C:/wamp/www/unesis/sass/content.sass */
.footerContainer .container {
  width: 960px;
  margin: 0px auto;
  height: 55px;
  padding-top: 25px;
  text-align: center;
}
/* line 257, C:/wamp/www/unesis/sass/content.sass */
.footerContainer .container ul {
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}
/* line 263, C:/wamp/www/unesis/sass/content.sass */
.footerContainer .container ul li {
  font-size: 10px;
  font-weight: bold;
  color: white;
  display: inline-block;
}
/* line 268, C:/wamp/www/unesis/sass/content.sass */
.footerContainer .container ul li a {
  color: white;
  text-decoration: none;
}
/* line 271, C:/wamp/www/unesis/sass/content.sass */
.footerContainer .container p {
  font-size: 10px;
  font-weight: bold;
  color: white;
  padding: 0px;
  margin: 0px;
}
