/* FlexSlider Default Theme
*********************************/

#featured { overflow: hidden; }
  #featured.flexslider { position: relative; zoom: 1; }
    #featured.flexslider .slides { zoom: 1; width: 960px; margin: 0 auto; }
      #featured.flexslider .slides > li {position: relative;}
        /* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */
        #featured .flex-container {zoom: 1; position: relative;}

        #featured .flex-direction-nav a { position: absolute; text-indent: -9999px; top: 50%; margin-top: -22px; width: 44px; height: 44px; -moz-transition: all 0.3s ease-in-out; -webkit-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; opacity: 0; }
          #featured .flex-direction-nav a.flex-prev { left: 60px; background: url(../images/slider_left_arrow.png) no-repeat; }
            #featured .flex-direction-nav a.flex-next  { right: 60px; background: url(../images/slider_right_arrow.png) no-repeat; }

            #featured:hover .flex-direction-nav a { opacity: 1; }
              #featured:hover .flex-direction-nav a.flex-prev { left: 80px; }
                #featured:hover .flex-direction-nav a.flex-next { right: 80px; }

                #featured .flex-control-nav { display: none; }

                @-webkit-keyframes bounceIn {
                0% {
                opacity: 0;
                -webkit-transform: scale(.3);
                }

                50% {
                opacity: 1;
                -webkit-transform: scale(1.05);
                }

                70% {
                -webkit-transform: scale(.9);
                }

                100% {
                -webkit-transform: scale(1);
                }
                }

                @-moz-keyframes bounceIn {
                0% {
                opacity: 0;
                -moz-transform: scale(.3);
                }

                50% {
                opacity: 1;
                -moz-transform: scale(1.05);
                }

                70% {
                -moz-transform: scale(.9);
                }

                100% {
                -moz-transform: scale(1);
                }
                }

                @-o-keyframes bounceIn {
                0% {
                opacity: 0;
                -o-transform: scale(.3);
                }

                50% {
                opacity: 1;
                -o-transform: scale(1.05);
                }

                70% {
                -o-transform: scale(.9);
                }

                100% {
                -o-transform: scale(1);
                }
                }

                @keyframes bounceIn {
                0% {
                opacity: 0;
                transform: scale(.3);
                }

                50% {
                opacity: 1;
                transform: scale(1.05);
                }

                70% {
                transform: scale(.9);
                }

                100% {
                transform: scale(1);
                }
                }

                .bounceIn {
                  -webkit-animation-name: bounceIn;
                  -moz-animation-name: bounceIn;
                  -o-animation-name: bounceIn;
                  animation-name: bounceIn;
                }

                @-webkit-keyframes bounceIn_custom {
                0% {
                -webkit-transform: scale(1);
                }

                25% {
                -webkit-transform: scale(.8);
                }

                50% {
                -webkit-transform: scale(1.05);
                }

                70% {
                -webkit-transform: scale(.9);
                }

                100% {
                -webkit-transform: scale(1);
                }
                }

                @-moz-keyframes bounceIn_custom {
                0% {
                -moz-transform: scale(1);
                }

                25% {
                -moz-transform: scale(.8);
                }

                50% {
                -moz-transform: scale(1.05);
                }

                70% {
                -moz-transform: scale(.9);
                }

                100% {
                -moz-transform: scale(1);
                }
                }

                @-o-keyframes bounceIn_custom {
                0% {
                -o-transform: scale(1);
                }

                25% {
                -o-transform: scale(.8);
                }

                50% {
                -o-transform: scale(1.05);
                }

                70% {
                -o-transform: scale(.9);
                }

                100% {
                -o-transform: scale(1);
                }
                }

                @keyframes bounceIn_custom {
                0% {
                transform: scale(1);
                }

                25% {
                transform: scale(.8);
                }

                50% {
                transform: scale(1.05);
                }

                70% {
                transform: scale(.9);
                }

                100% {
                transform: scale(1);
                }
                }

                @-webkit-keyframes fadeInUp_custom {
                0% {
                opacity: 0;
                -webkit-transform: translateY(270px);
                }

                100% {
                opacity: 1;
                -webkit-transform: translateY(0);
                }
                }

                @-moz-keyframes fadeInUp_custom {
                0% {
                opacity: 0;
                -moz-transform: translateY(270px);
                }

                100% {
                opacity: 1;
                -moz-transform: translateY(0);
                }
                }

                @-o-keyframes fadeInUp_custom {
                0% {
                opacity: 0;
                -o-transform: translateY(270px);
                }

                100% {
                opacity: 1;
                -o-transform: translateY(0);
                }
                }

                @keyframes fadeInUp_custom {
                0% {
                opacity: 0;
                transform: translateY(270px);
                }

                100% {
                opacity: 1;
                transform: translateY(0);
                }
                }

                #featured .slide {
                    text-align: center; -webkit-transform: translate3d(0,0,0);
                }
                  /* .cssanimations.csstransitions #featured .slide { padding-bottom: 295px; } */
                  #featured .slide h2 a { color: inherit; text-decoration: none; }

                  #featured .slide img, #featured .slide h2, #featured .slide .description { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform: translate3d(0,0,0); }

                  .home-section, #main-footer, #quote, .blog-post-image, .comments_count { -webkit-transform: translate3d(0,0,0); }

                  #featured .slide.flex-active-slide img {
                    -webkit-animation-duration: .7s;
                    -webkit-animation-delay: .4s;
                    -webkit-animation-timing-function: ease-in-out;
                    -webkit-animation-fill-mode: both;
                    -moz-animation-duration: .7s;
                    -moz-animation-delay: .4s;
                    -moz-animation-timing-function: ease-in-out;
                    -moz-animation-fill-mode: both;
                    -o-animation-duration: .7s;
                    -o-animation-delay: .4s;
                    -o-animation-timing-function: ease-in-out;
                    -o-animation-fill-mode: both;
                    -ms-animation-duration: .7s;
                    -ms-animation-delay: .4s;
                    -ms-animation-timing-function: ease-in-out;
                    -ms-animation-fill-mode: both;
                    animation-duration: .7s;
                    animation-delay: .4s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: both;

                    -webkit-animation-name: fadeInUp_custom;
                    -moz-animation-name: fadeInUp_custom;
                    -o-animation-name: fadeInUp_custom;
                    -ms-animation-name: fadeInUp_custom;
                    animation-name: fadeInUp_custom;
                  }

                  #featured .slide.flex-active-slide .description {
                    -webkit-animation-duration: .7s;
                    -webkit-animation-delay: .9s;
                    -webkit-animation-timing-function: ease-in-out;
                    -webkit-animation-fill-mode: both;
                    -moz-animation-duration: .7s;
                    -moz-animation-delay: .9s;
                    -moz-animation-timing-function: ease-in-out;
                    -moz-animation-fill-mode: both;
                    -o-animation-duration: .7s;
                    -o-animation-delay: .9s;
                    -o-animation-timing-function: ease-in-out;
                    -o-animation-fill-mode: both;
                    -ms-animation-duration: .7s;
                    -ms-animation-delay: .9s;
                    -ms-animation-timing-function: ease-in-out;
                    -ms-animation-fill-mode: both;
                    animation-duration: .7s;
                    animation-delay: .9s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: both;

                    -webkit-animation-name: bounceIn;
                    -moz-animation-name: bounceIn;
                    -ms-animation-name: bounceIn;
                    -o-animation-name: bounceIn;
                    animation-name: bounceIn;
                  }

                  #featured .slide.flex-active-slide h2 {
                    -webkit-animation-duration: .7s;
                    -webkit-animation-delay: 1.4s;
                    -webkit-animation-timing-function: ease-in-out;
                    -webkit-animation-fill-mode: both;
                    -moz-animation-duration: .7s;
                    -moz-animation-delay: 1.4s;
                    -moz-animation-timing-function: ease-in-out;
                    -moz-animation-fill-mode: both;
                    -o-animation-duration: .7s;
                    -o-animation-delay: 1.4s;
                    -o-animation-timing-function: ease-in-out;
                    -o-animation-fill-mode: both;
                    -ms-animation-duration: .7s;
                    -ms-animation-delay: 1.4s;
                    -ms-animation-timing-function: ease-in-out;
                    -ms-animation-fill-mode: both;
                    animation-duration: .7s;
                    animation-delay: 1.4s;
                    animation-timing-function: ease-in-out;
                    animation-fill-mode: both;

                    -webkit-animation-name: bounceIn;
                    -moz-animation-name: bounceIn;
                    -ms-animation-name: bounceIn;
                    -o-animation-name: bounceIn;
                    animation-name: bounceIn;
                  }
