/* line 1, C:/wamp/www/unesis/sass/menu.sass */
.menuContainer {
  width: 100%;
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #454545), color-stop(1, #141414));
  background-image: -o-linear-gradient(bottom, #454545 0%, #141414 100%);
  background-image: -moz-linear-gradient(bottom, #454545 0%, #141414 100%);
  background-image: -webkit-linear-gradient(bottom, #454545 0%, #141414 100%);
  background-image: -ms-linear-gradient(bottom, #454545 0%, #141414 100%);
  background-image: linear-gradient(to bottom, #454545 0%, #141414 100%);
}
/* line 10, C:/wamp/www/unesis/sass/menu.sass */
.menuContainer .menu {
  width: 960px;
  margin: 0px auto;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #454545), color-stop(1, #141414));
  background-image: -o-linear-gradient(bottom, #454545 0%, #141414 100%);
  background-image: -moz-linear-gradient(bottom, #454545 0%, #141414 100%);
  background-image: -webkit-linear-gradient(bottom, #454545 0%, #141414 100%);
  background-image: -ms-linear-gradient(bottom, #454545 0%, #141414 100%);
  background-image: linear-gradient(to bottom, #454545 0%, #141414 100%);
  height: 50px;
}
/* line 20, C:/wamp/www/unesis/sass/menu.sass */
.menuContainer .menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
/* line 25, C:/wamp/www/unesis/sass/menu.sass */
.menuContainer .menu ul li {
  display: inline-block;
  list-style: none;
}
/* line 28, C:/wamp/www/unesis/sass/menu.sass */
.menuContainer .menu ul li a {
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  display: block;
  padding: 0px 10px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
}
