/* line 1, C:/wamp/www/unesis/sass/slider.sass */
.sliderContainer {
  float: left;
  width: 100%;
  background: #cacbcb;
}

/* line 5, C:/wamp/www/unesis/sass/slider.sass */
#featured:after {
  content: "";
  position: absolute;
  height: 13px;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* line 12, C:/wamp/www/unesis/sass/slider.sass */
#featured {
  position: relative;
  background: url("../images/sliderBg.jpg") no-repeat #cacbcb;
  width: 1020px;
  margin-right: auto;
  margin-left: auto;
  height: 356px;
}
/* line 19, C:/wamp/www/unesis/sass/slider.sass */
#featured .container {
  text-align: center;
  line-height: 0;
}
/* line 22, C:/wamp/www/unesis/sass/slider.sass */
#featured h2, #featured p {
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 25, C:/wamp/www/unesis/sass/slider.sass */
#featured h2 {
  position: absolute;
  font-size: 46px;
  font-weight: 800;
  margin-bottom: 14px;
  letter-spacing: -4px;
}
/* line 32, C:/wamp/www/unesis/sass/slider.sass */
#featured h2 span, #featured .description {
  font-weight: 300;
  position: absolute;
}

/* line 37, C:/wamp/www/unesis/sass/slider.sass */
.flexslider {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 42, C:/wamp/www/unesis/sass/slider.sass */
.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 46, C:/wamp/www/unesis/sass/slider.sass */
.flexslider .slides > li {
  display: none;
}

/* line 48, C:/wamp/www/unesis/sass/slider.sass */
.description {
  position: absolute;
  width: 310px !important;
  right: 90px;
  z-index: 9999999999999999999999999999;
}

/* line 53, C:/wamp/www/unesis/sass/slider.sass */
.interHolder {
  float: left;
  width: 300px;
  margin-top: 70px;
}
/* line 58, C:/wamp/www/unesis/sass/slider.sass */
.interHolder .textHolder {
  float: left !important;
  width: 300px !important;
  text-align: left !important;
}
/* line 62, C:/wamp/www/unesis/sass/slider.sass */
.interHolder .textHolder h1 {
  float: left;
  width: 300px;
  font-weight: normal;
  font-size: 20px;
  color: #0f8641;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-transform: uppercase;
}
/* line 72, C:/wamp/www/unesis/sass/slider.sass */
.interHolder .textHolder .normal {
  float: left !important;
  font-size: 12px !important;
  margin: 0 !important;
  padding: 0 !important;
  font-family: Arial, verdana, arial, sans-serif !important;
  color: #666666 !important;
  text-align: left !important;
  text-shadow: none !important;
}
/* line 81, C:/wamp/www/unesis/sass/slider.sass */
.interHolder .textHolder a {
  float: left;
  margin-top: 20px;
}
