/* line 1, C:/wamp/www/unesis/sass/topHeader.sass */
.topHeaderContainer {
  width: 100%;
  height: 145px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f9f9f9), color-stop(0.56, #d8d8d8));
  background-image: -o-linear-gradient(right, #f9f9f9 0%, #d8d8d8 56%);
  background-image: -moz-linear-gradient(right, #f9f9f9 0%, #d8d8d8 56%);
  background-image: -webkit-linear-gradient(right, #f9f9f9 0%, #d8d8d8 56%);
  background-image: -ms-linear-gradient(right, #f9f9f9 0%, #d8d8d8 56%);
  background-image: linear-gradient(to right, #f9f9f9 0%, #d8d8d8 56%);
}
/* line 10, C:/wamp/www/unesis/sass/topHeader.sass */
.topHeaderContainer .topHeader {
  width: 960px;
  height: auto;
  margin: 0px auto;
}
/* line 14, C:/wamp/www/unesis/sass/topHeader.sass */
.topHeaderContainer .topHeader .logo {
  float: left;
  height: 145px;
}
/* line 17, C:/wamp/www/unesis/sass/topHeader.sass */
.topHeaderContainer .topHeader .social {
  float: right;
  width: 260px;
  height: 145px;
  position: relative;
  background: url("../images/callus.png") top no-repeat;
}
/* line 23, C:/wamp/www/unesis/sass/topHeader.sass */
.topHeaderContainer .topHeader .social .socialContent {
  padding: 26px 12px;
  width: 236px;
}
/* line 26, C:/wamp/www/unesis/sass/topHeader.sass */
.topHeaderContainer .topHeader .social .socialContent .image {
  float: left;
  width: 42px;
  height: 42px;
  margin-right: 8px;
}
/* line 31, C:/wamp/www/unesis/sass/topHeader.sass */
.topHeaderContainer .topHeader .social .socialContent .phone {
  float: left;
  width: 186px;
  font-weight: bold;
  font-size: 26px;
  color: #119147;
}
/* line 37, C:/wamp/www/unesis/sass/topHeader.sass */
.topHeaderContainer .topHeader .social .socialContent .email {
  float: left;
  width: 186px;
  font-size: 11px;
  color: #464646;
}
